/* style.css */

body {
  background-color: #130101;
  font-family: Arial, sans-serif;
  color: #f2ecec;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #f2f5f8;
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 25px;
  color: #555;
}
